{{ define "assets.tmpl" }}
<div class="assets-outer">
    <div class="assets" id="assets">
        <div class="asset">
            <div class="asset-img indigo-img" onclick="window.location = 'http://indigo.hrtsfld.xyz'"></div>
            <div class="asset-name">IndigoCoast</div>
            <div class="asset-description">
                <div class="asset-header">Description:</div>
                <div class="asset-discription">IndigoCoast specializes in ransomware mitigation and business software</div>
            </div>
            <div class="asset-cat-val">
                <div class="asset-category">
                    <div class="asset-header">Category:</div>
                    <ul>
                        <li>Web Software</li>
                        <li>E-Commerce</li>
                    </ul>
                </div>
                <div class="asset-value">
                    <div class="asset-header">Estimated Value:</div>
                    <div class="asset-value-num">$10k USD</div>
                </div>
            </div>
        </div>

        <div class="asset">
            <div class="asset-img mg-img" onclick="window.location = 'https://MysteryGift.org/'"></div>
            <div class="asset-name">MysteryGift</div>
            <div class="asset-description">
                <div class="asset-header">Description:</div>
                <div class="asset-discription">IndigoCoast specializes in ransomware mitigation and business software</div>
            </div>
            <div class="asset-cat-val">
                <div class="asset-category">
                    <div class="asset-header">Category:</div>
                    <ul>
                        <li>Web Software</li>
                        <li>E-Commerce</li>
                    </ul>
                </div>
                <div class="asset-value">
                    <div class="asset-header">Estimated Value:</div>
                    <div class="asset-value-num">$10k USD</div>
                </div>
            </div>
        </div>

        <div class="asset">
            <div class="asset-img bolt-img" onclick="window.location = 'http://c2.hrtsfld.xyz'"></div>
            <div class="asset-name">Bolt Marketing</div>
            <div class="asset-description">
                <div class="asset-header">Description:</div>
                <div class="asset-discription">IndigoCoast specializes in ransomware mitigation and business software</div>
            </div>
            <div class="asset-cat-val">
                <div class="asset-category">
                    <div class="asset-header">Category:</div>
                    <ul>
                        <li>Web Software</li>
                        <li>E-Commerce</li>
                    </ul>
                </div>
                <div class="asset-value">
                    <div class="asset-header">Estimated Value:</div>
                    <div class="asset-value-num">$10k USD</div>
                </div>
            </div>
        </div>

        <div class="asset">
            <div class="asset-img pr-img" onclick="window.location = 'http://pr.hrtsfld.xyz'"></div>
            <div class="asset-name">Press-Rocket</div>
            <div class="asset-description">
                <div class="asset-header">Description:</div>
                <div class="asset-discription">IndigoCoast specializes in ransomware mitigation and business software</div>
            </div>
            <div class="asset-cat-val">
                <div class="asset-category">
                    <div class="asset-header">Category:</div>
                    <ul>
                        <li>Web Software</li>
                        <li>E-Commerce</li>
                    </ul>
                </div>
                <div class="asset-value">
                    <div class="asset-header">Estimated Value:</div>
                    <div class="asset-value-num">$10k USD</div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>{{ template "assets.css" }}</style>
<script>{{ template "assets.js"}}</script>
{{end}}
