{{ define "info.tmpl" }}
<div class="info-outer">
    <div class="info-inner">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod elementum nisi quis eleifend quam adipiscing vitae. Sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula. Faucibus in ornare quam viverra orci sagittis eu volutpat. Egestas sed tempus urna et. Vitae nunc sed velit dignissim sodales. Diam quam nulla porttitor massa id neque. Varius sit amet mattis vulputate enim nulla aliquet porttitor. Sit amet venenatis urna cursus eget nunc scelerisque. Venenatis lectus magna fringilla urna porttitor rhoncus dolor.</p>
        <p>Magnis dis parturient montes nascetur. Pharetra diam sit amet nisl suscipit. Ipsum dolor sit amet consectetur adipiscing elit pellentesque habitant. Nibh tortor id aliquet lectus proin nibh nisl condimentum. Cras adipiscing enim eu turpis egestas. Suspendisse interdum consectetur libero id. In pellentesque massa placerat duis. Commodo sed egestas egestas fringilla. Porttitor lacus luctus accumsan tortor posuere. In nibh mauris cursus mattis molestie a. Venenatis lectus magna fringilla urna porttitor rhoncus.</p>
        <p>Sit amet mattis vulputate enim nulla aliquet porttitor lacus. A condimentum vitae sapien pellentesque. Dapibus ultrices in iaculis nunc. Auctor neque vitae tempus quam. Quisque non tellus orci ac auctor. Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus. Malesuada fames ac turpis egestas integer eget aliquet nibh praesent. Gravida quis blandit turpis cursus in hac habitasse platea. A pellentesque sit amet porttitor eget dolor morbi. Lacus sed turpis tincidunt id aliquet risus. Tristique senectus et netus et malesuada. Dictum fusce ut placerat orci. Eget est lorem ipsum dolor sit amet consectetur adipiscing. Nunc sed augue lacus viverra vitae congue eu. Sed id semper risus in hendrerit gravida. Pulvinar elementum integer enim neque. Aliquet nibh praesent tristique magna sit amet. Egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam. Elit at imperdiet dui accumsan sit amet nulla.</p>
        <p>Est ullamcorper eget nulla facilisi etiam dignissim. Felis bibendum ut tristique et egestas quis ipsum suspendisse. Quis risus sed vulputate odio. Suspendisse interdum consectetur libero id faucibus nisl. Ipsum consequat nisl vel pretium lectus quam. Vitae sapien pellentesque habitant morbi tristique senectus. Nullam vehicula ipsum a arcu cursus vitae congue. Venenatis lectus magna fringilla urna porttitor rhoncus dolor. Porttitor eget dolor morbi non arcu risus quis. Id volutpat lacus laoreet non curabitur gravida. Id aliquet lectus proin nibh nisl condimentum id venenatis. Sed nisi lacus sed viverra tellus in. Pretium quam vulputate dignissim suspendisse in est ante in. Scelerisque mauris pellentesque pulvinar pellentesque habitant. Scelerisque felis imperdiet proin fermentum leo. In dictum non consectetur a erat nam at lectus.</p>
    </div>
</div>
<style>{{ template "info.css" }}</style>
<script>{{ template "info.js"}}</script>
{{end}}
